<!DOCTYPE html>
<html>
	<head>
		<title>Blog Post</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/blog.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<a class="item" href="/"><i class="code icon"></i>Blog</a>
				<a class="item" href="/">Home</a>
				<a class="item" href="/blog/new">New Blog</a>
			</div>
		</div>
		
	